@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet');



#firstPage{
 
  background-image: url("https://images.unsplash.com/photo-1579548122080-c35fd6820ecb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=2000&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%,rgba(0, 0, 0, 0.5) 100%), url("https://images.unsplash.com/photo-1579548122080-c35fd6820ecb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=2000&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
	background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
	min-height:100vh;
  font-family: 'Noto Sans', sans-serif;
  overflow: hidden;
}

.text-center{
	color:rgb(0, 0, 0);	
  text-transform:uppercase;
  font-family:'Times New Roman', bold;
    font-size: 10.04vh;
    margin: -9.12vh 0 14.60vh 0;
    display: block;
    text-align: center;
}

.text-center2{
	color:rgb(0, 0, 0);	
  text-transform:uppercase;
  opacity: 0.6;
    font-size: 2.56vh;
    margin: -15.51vh 0 14.60vh 0;
    display: block;
    text-align: center;
}

.box{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0.89);
    border: 10px solid rgb(255, 255, 255);
	padding:12.78vh 18.25vh;
}

.input-container{
	position:relative;
	margin-bottom:4.56vh;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:2.92vh;
	color:rgb(0, 0, 0);	
	transition: all 0.5s ease-in-out;
}

.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:1.50vh 0 0.91vh 0;
  font-size:2.92vh;
  color:rgb(0, 0, 0);
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid rgb(0, 153, 255);	
}

.btn{
	color:rgb(0,0,0);
	background-color: rgb(0, 153, 255);
	outline: none;
    border: 0;
	padding:1.82vh 3.65vh;
	text-transform:uppercase;
	margin-top:9.12vh;
	border-radius:2px;
	cursor:pointer;
	position:relative;
	transition:0.3s;
	font-size:3.26vh;
 
}

.btn:hover{
	background-color:rgb(0, 0, 153);
	color:rgb(255,255,255);
}

.input-container input:focus ~ label,
.input-container input:valid ~ label{
  opacity: 0.6;
	top:-1.95vh;
	font-size:1.95vh;
	
}

#bad_alert{
	color:red;
	font-size:2.60vh;
}